*.ttl
envs/
__pycache__/
.ipynb_checkpoints/
data/
dumps/
place_lookup_tables/
venv/
models/
*.egg-info/
.venv/
geonames.duckdb
geonames.duckdb.wal
search_cache.duckdb
search_cache.duckdb.wal
.geo_db_search_index/
geo.duckdb
*credentials*.json
!example_api_credentials.json